{% extends "base.html" %}

{% block title %}Sepetim{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sepetinizdeki Ürünler</h5>
                        {% if products %}
                        <table class="table table-striped cart-table">
                            <thead>
                                <tr>
                                    <th scope="col">Ürün Adı</th>
                                    <th scope="col">Miktar</th>
                                    <th scope="col">Fiyat</th>
                                    <th scope="col">Toplam</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in products %}
                                <tr>
                                    <td>{{ item.product_name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.price }}₺</td>
                                    <td>{{ item.total }}₺</td>
                                    <td>
                                        <form method="post" action="{% url 'remove_product' item.product_id %}">
                                          {% csrf_token %}
                                          <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                          </button>
                                        </form>
                                      </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>Sepetinizde ürün bulunmamaktadır.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if products %}
        <!-- Sepet Toplamı -->
        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Sepet Toplamı</h5>
                        <p class="cart-total">{{ total_price }}₺</p>
                        <a href="{% url 'checkout' %}" class="btn btn-success">Ödeme Yap</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}