{% extends "base.html" %}

{% block title %}Giriş Yap{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-container">
            <h2 class="login-title">Giriş Yap</h2>
            
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="form-label">Kullanıcı Adı</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Kullanıcı adınızı giriniz" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Şifre</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Şifrenizi giriniz" required>
                </div>
                
                
                <a href="{% url 'password_reset' %}" class="forgot-password">Şifremi Unuttum?</a>
                
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" name="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                </div>
            </form>
            
            <div class="text-center mt-3">
                <a href="{% url 'signup' %}" class="text-decoration-none">Hesabınız yok mu? Kayıt olun!</a>
            </div>
        </div>
    </div>
{% endblock %}